$color-brand: #66C05D;
$color-main-text: #000000;
$color-light-text: #FFFFFF;
$color-top-text: #333333;
$color-bottom-text:#828282;
$color-background: #EFEFEF;
$color-input: #C4C4C4;


$content-width: 1110px;
