.about {
  background: url(/images/background.png) no-repeat;
  background-position: center;
}

.about__content {
  max-width: 308px;
  height: 219px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__text {
  color: $color-light-text;
}