.social-icons {
  max-width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  >* {
    margin-right: 20px;
  }
  :last-child {
    margin: 0;
  }
}

.footer__bottom {
  background: $color-background;
}

.footer__description {
  @include font(1.2rem, 400, 1.4rem);
  color: $color-bottom-text;
}

.privacy-policy {
  @include font(1.2rem, 400, 1.4rem);
  color: $color-bottom-text;
}