.header {
  z-index: 10;
}

.header__top {
  background: $color-background;
}

.header__center {
  border-bottom: 1px solid $color-background;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 340px;
}

.tel-number {
  @include font(1.6rem, 400, 1,88rem);
  padding-right: 40px;
  @include media-mobile {
    padding-right: 20px;
  }
}

.header__bottom {
  @include media-mobile {
    &.open .navigation_bottom{
      left: 0;
    }
    &.open .burger span:nth-child(1) {
      transform: translateY(0) rotate(45deg);
    }
    &.open .burger span:nth-child(2) {
      opacity: 0;
    }
    &.open .burger span:nth-child(3) {
      transform: translateY(0) rotate(-45deg);
    }
  }
}

