.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_top {
    max-width: 450px;
    margin: 0 auto;
    @include font(1.4rem, 400, 1,64rem);
    color: $color-top-text;
  }
  &_bottom {
    max-width: 675px;
    margin: 0 auto;
    @include font(1.6rem, 400, 1,88rem);
  }
}

.navigation__link {
  cursor: pointer;
}